{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_form %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <img src="{{ url_for('static', filename='images/main_index1.png') }}" class="rounded img-fluid">
            </div>
            <div class="col-md-4">
                <div class="card mb-3 w-100 bg-light">
                    <div class="card-header"><h3>欢迎登录 Myroom</h3></div>
                    <div class="card-body">
                        {{ render_form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
