[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-wtf = "*"
flask-moment = "*"
bootstrap-flask = "*"
pypi = "*"

[dev-packages]
watchdog = "*"
faker = "*"

[requires]
python_version = "3.9"
